<div class="container mt-4">
    <h2>{{ isEditMode ? 'Edit Party' : 'Add New Party' }}</h2>
  
    <!-- Form binding to the partyForm FormGroup -->
    <form [formGroup]="partyForm" (ngSubmit)="onSubmit()">
      
      <!-- Party Name Input -->
      <div class="form-group">
        <label for="name">Party Name</label><br>
        <input type="text" id="name" class="form-control" formControlName="name"><br><br>
        
        <!-- Validation Error Message -->
        <div *ngIf="partyForm.controls['name'].invalid && partyForm.controls['name'].touched" class="text-danger">
          Party name is required.
        </div>
      </div>
             
      <!-- Date Input -->
      <div class="form-group">
        <label for="date">Date</label><br>
        <input type="date" id="date" class="form-control" formControlName="date">
        
        <!-- Validation Error Me1 ssage -->
        <div *ngIf="partyForm.controls['date'].invalid && partyForm.controls['date'].touched" class="text-danger">
          Date is required.
        </div>
      </div><br>
  
      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary" [disabled]="partyForm.invalid">
        Submit Party
      </button>
    </form>
  </div>
  